

#game-left {
	width: 75%;
	margin-right: 2%;
	float: left;
}

#game-right {
	width: 22%;
	float: left;
}

#game-footer {
	clear: both;
}




#playback-options {
	border: 2px solid black;
	margin-bottom: 5px;
}

#replay {
	border: 2px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
}

#submitter {
	border: 2px solid black;
	margin-top: 5px;
}
