

#game-top {
	margin: auto;
	text-align: center;
}

#game-top {
	display: inline;
	float: none;
}

#game-bottom {
	margin: auto;
	width: 50%;
	text-align: center;
}

#game-bottom * {
	display: inline;
	float: none;
}

#game-footer {
	clear: both;
}




#playback-options {
}

#replay {
}

#submitter {
}
